@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #eef5ff;
  font-family: "Playfair Display", serif;
}

main {
  position: absolute;
  width: 100%;
  height: 90%;
  top: 10px;
}

/* Background image */

.body-background {
  position: absolute;
  top: 0%;
  height: 100vh;
  width: 100%;
  background-image: url(./images/background.png);
  background-size: 100%;
  opacity: 0.6;
  z-index: -1;
}

/* Navbar and buttons style */

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #eef5ff;
  height: 40px;
  width: 100%;
  border-radius: 20px;
}

.nav-link,
.sec-center,
.reg-sec-center,
.home-sec-center {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  height: 40px;
  border: 2px solid #9eb8d9;
  border-radius: 10px;
  cursor: pointer;
}

.nav-link a {
  text-decoration: none;
  font-size: 15px;
  color: #9eb8d9;
  font-weight: bold;
}

label.for-dropdown,
label.reg-dropdown,
label.home-dropdown {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 100%;
  text-decoration: none;
  font-size: 15px;
  color: #9eb8d9;
  font-weight: bold;
}

.nav-link:hover,
.for-dropdown:hover {
  background-color: #7c93c3;
  cursor: pointer;
}

/* Home content _ internal data box style */

.home-content {
  position: relative;
  background-color: #eef5ff;
  height: 450px;
  padding: 25px;
  border: 2px solid #9eb8d9;
  border-radius: 10px;
}

.home-dropdown {
  width: 16%;
  height: 40px;
}
.home-dropdown[type="checkbox"] {
  height: 15px;
}

.home-section-dropdown {
  position: absolute;
  padding: 5px;
  background-color: #111;
  top: 200%;
  height: 460px;
  border-radius: 10px;
  display: block;
  box-shadow: 0 14px 35px 0 rgba(9, 9, 12, 0.4);
  z-index: 2;
  opacity: 0;
  pointer-events: none;
  transform: translateY(20px);
  transition: all 200ms linear;
}

.home-dropdown:checked ~ .home-section-dropdown {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}

/* Contact Us _ internal data box style */

.contact-form {
  position: relative;
  background-color: #eef5ff;
  height: 450px;
  padding: 25px;
  border: 2px solid #9eb8d9;
  border-radius: 10px;
}

h1 {
  text-align: center;
  color: #333;
  padding: 10px 0px 30px 0px;
  font-size: 25px;
}

input,
textarea {
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 5px 5px 5px 0;
  background: none;
  border: none;
  border-bottom: 1px solid black;
  margin-bottom: 20px;
  resize: none;
}

textarea {
  margin-top: 5px;
}

input:focus,
textarea:focus {
  outline: none;
  border-bottom: 2px solid #7c93c3;
}

input[type="submit"] {
  position: relative;
  background-color: #7c93c3;
  color: #eef5ff;
  width: 30%;
  border: 2px solid #9eb8d9;
  border-radius: 10px;
  cursor: pointer;
}

input:invalid,
textarea:invalid,
input:out-of-range {
  background: url("https://assets.digitalocean.com/labs/icons/exclamation-triangle-fill.svg")
    no-repeat 95% 50%;
  background-size: 15px;
}

/* Contact Us _ dropdown box style */

.dropdown {
  width: 19%;
  height: 40px;
}
.dropdown[type="checkbox"] {
  height: 15px;
}

[type="checkbox"]:checked,
[type="checkbox"]:not(:checked) {
  position: absolute;
  opacity: 1;
  pointer-events: none;
}

.section-dropdown {
  position: absolute;
  padding: 5px;
  background-color: #111;
  top: 200%;
  height: 460px;
  width: 20%;
  border-radius: 10px;
  display: block;
  box-shadow: 0 14px 35px 0 rgba(9, 9, 12, 0.4);
  z-index: 2;
  opacity: 0;
  pointer-events: none;
  transform: translateY(20px);
  transition: all 200ms linear;
}

.dropdown:checked ~ .section-dropdown {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}

/* Register form _ internal data box style */

.register-form {
  position: relative;
  background-color: #eef5ff;
  height: 650px;
  padding: 25px;
  border: 2px solid #9eb8d9;
  border-radius: 10px;
}

.register-form p {
  text-align: justify;
  padding-bottom: 20px;
  font-size: 16px;
}

.required {
  text-decoration: underline;
}

.register-form label[for="read-only"],
.register-form label[for="email"],
.register-form label[for="password"],
.register-form label[for="number"],
.register-form label[for="about"] {
  font-size: 15px;
  padding-bottom: 10px;
}

input#read-only {
  color: #7b7880;
}

input#read-only:focus {
  outline: none;
  border-bottom: 1px solid #0c0c0c;
}

/* Register form _ dropdown box style */

.reg-dropdown {
  width: 19%;
  height: 40px;
}
.reg-dropdown[type="checkbox"] {
  height: 15px;
}

.terms {
  position: relative;
  width: 90%;
  height: 40px;
}

label[for="terms"] {
  position: relative;
  padding-left: 20px;
}

input#terms[type="checkbox"] {
  position: absolute;
  width: 5%;
  height: 15px;
  top: 10%;
  opacity: 1;
}

.reg-section-dropdown {
  position: absolute;
  padding: 5px;
  background-color: #111;
  top: 200%;
  height: 660px;
  border-radius: 10px;
  display: block;
  box-shadow: 0 14px 35px 0 rgba(9, 9, 12, 0.4);
  z-index: 2;
  opacity: 0;
  pointer-events: none;
  transform: translateY(20px);
  transition: all 200ms linear;
}

.reg-dropdown:checked ~ .reg-section-dropdown {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}

/* Arrow animation */

.dropdown:checked + label .uil,
.reg-dropdown:checked + label .uil {
  transform: rotate(180deg);
  font-size: 24px;
  margin-left: 10px;
  transition: transform 200ms linear;
}

.dropdown:not(:checked) + label .uil,
.reg-dropdown:not(:checked) + label .uil {
  font-size: 24px;
  margin-left: 10px;
  transition: transform 200ms linear;
}
